{% extends "_base.html" %}

{% block bodycontent %}
<section id="posting">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Post a Task</h3>
				<p>
				Need help? Post a task here and let others help you!
				</p>
			</div>
			<div class="col-md-12"></div>

			<div class="col-sm-6 col-md-12">
				<form action="/post_task" method="post" role="form">
				
					<div class="col-md-12">
						<input name = "title" type="text" class="form-control" placeholder="Title" size="20">
					</div>

					<div class="col-md-6">
						<select class="form-control mainSelect" id = "name">
							<option value="" selected disabled>Please select</option>
							<option value="Math">Math</option>
							<option value="Physics">Physics</option>
							<option value="Chemistry">Chemistry</option>
							<option value="Biology">Biology</option>
							<option value="Writing">Writing</option>
						</select>
					</div>

					<div id ="task_content" class="col-md-12">
						<textarea name = "desc" class="form-control" rows="6" placeholder="description"></textarea>
					</div>
					<div class="col-md-12" id = "posting">
					<input id = "posting_button" type = "submit" value = "POST" class="form-control" />
					</div>
				</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}