{% extends "_base.html" %}
{% block bodycontent %}
  <div id="topbar">
  </div>
  <div class="container">

  <div id="w">
    <br><br>

    <div class="col-md-2"></div>
    <div id="content" class="clearfix col-md-8">
      <div class="username col-md-6">
           <h1>{{nickname}}</h1>
      </div>
      <div id="userphoto" class = "col-md-6">
          <img src="https://alessifoods.com/theme/alessifoods/img/generic-profile.png" alt="default avatar">
      </div>

      <div class = "col-md-8">
      <nav id="profiletabs" class="profiletabs">
        <ul class="clearfix">
          <li><a href="#my_tasks" class="sel">My Tasks</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
      </nav>
      </div>

      <div class = "col-md-2"> </div>
      <div class = "col-md-8">
      
      
       <section id="my_tasks" class = "hidden">

        <p>Our homepage  <a href="http:auta-me.appspot.com">Auta-me</a>.</p>
        
        <div id = "tasks-container" class="tasks-container col-md-9">
			{% for task in tasks %}
			<div class="task-container">
				<div class="caption-full">
					<!-- /task?id={{task.key.urlsafe}} -->
					<h3 class = "title" >
						{% if user_email == "AutaMe1520@gmail.com" %}
						<a href="/delete?id={{task.key.urlsafe}}">
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						</a>
						{% endif %}
						
						<a href="/task?id={{task.key.urlsafe}}">{{task.title}}</a>
						
						{% if task.reported %}
						<span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true"></span>
						{% else %}
						<a href="/reported?id={{task.key.urlsafe}}">
						<button type="button" class="btn btn-default pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
						</button>
						</a>
						{% endif %}
					<div class = "post-info">
						<h5 class="post-time">{{task.time_created}}</h5>
					</div>
				</div>

				{% if task.image %}
				<div class="thumbnail">
					<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				</div>
				{% endif %}

				<div class="functions_bar">
					<p>
						<!-- 0 MEANS THAT IT IS NOT CLAIMED
							 2 MEANS THAT IT IS CLAIMED-->
						{% if task.pending == 0 %}
						<a href="/claim?id={{task.key.urlsafe}}"><button id = "claim_button" class = "claim_button claim_able button_large" >Claim</button></a>
						
						{% else %}
						
						<b>CLAIMED</b>

						{% endif %}

					</p>
				</div>
			</div>
			{% endfor %}


        </p>
    
      </section>
      
      <section id="settings" class="hidden">
        <p>Edit your user settings:</p>
        
        <p class="setting"><span>E-mail Address </span> {{user_email}}</p>
        
        <p class="setting"><span>Language </span> English(US)</p>
        
        <p class="setting"><span>Profile Status </span> Public</p>
        
        <p class="setting"><span>Connected Accounts</span> None</p>

        <div class = "logout">
          <button class = "logout_button button_large"><a href="{{ logout_url }}">Sign Out</a></button>
        </div>

      </section>
      </div>
      <div class = "col-md-2"> </div>

    </div><!-- @end #content -->
     <div class="col-md-2"></div>
  </div><!-- @end #w -->
  </div>
<script type="text/javascript">

$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});
</script>

{% endblock %}